<style>
  img{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h2{
    text-align:center;
  }
  .name{
    color:blue;
  }
  a{
    float:right;
  }
</style>
<h2>신이 <span class="name"><%=@name%></span> 을 만들때</h2>
  <div class="container">
  <span style="padding-left:15%"><span style="color:red"><%=@sample[0]%></span><span style="color:blue"><%=@spn[0]%></span></span>스푼
    <span style="padding-left:22%"><span style="color:red"><%=@sample[1]%></span><span style="color:blue"><%=@spn[1]%></span></span>스푼
    <span style="padding-left:20%"><span style="color:red"><%=@sample[2]%></span></span><span style="color:yellow">우와아아아앙</span>
  <img src="https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/KKm/image/QVXxC8yCJGZhsXjJGvCUhUnEr14.PNG" alt="">
  <br><br>
  <a class="waves-effect waves-light btn" href="/random/game">뒤로가기</a>
  <a class="waves-effect waves-light btn" href="/">홈으로</a>
</div>
